<div class="recently-viewed-wrapper page-width">
  <div class="container">
    <h3 class="recentviw_title">
      <span class="text">{{ section.settings.heading }}</span>
    </h3>

    <ul class="recently-viewed-grid autoplay">
      <!-- Recently viewed products will appear here -->
    </ul>
  </div>
</div>

<script>
  const localViewed = localStorage.recentlyViewedProducts;
  function getRecentlyViewedProducts() {
    const productData = JSON.parse(localStorage.getItem('recentlyViewedProducts')) || [];
    const recentlyViewedHtml = [];
    console.log(productData);
    if (productData.length > 1) {
      productData.map((item) => {
        const media = JSON.stringify(item.media);
        const numOfMediaBiggerThen1 = item.media.length > 1;
        recentlyViewedHtml.unshift(`<li class="grid__item product">
<div class="product-item ${item.productTag}">
<div class="card">
<div class="card-product">
<div class="card-product__wrapper">
<a href="" class="card-media media--loading-effect card-media--adapt" style="padding-bottom: 100%;">
<img class="motion-reduce" src="${item.featured_media.src}" 
width="100%" 
height="100%" 
loading="lazy" 
alt="${item.featured_media.alt}"
${
  '{{section.settings.image_behavior}}' == 'carousal'
    ? `
              data-media='${media}'
              data-max-images="{{ 5 | json | escape }}"
              data-page-width="{{ settings.page_width | json | escape }}" `
    : ''
}/>

${
  item.media[1] != null && '{{section.settings.image_behavior}}' == 'show_secondary_image'
    ? `
  <img
    src="${item.media[1]}"
    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
    alt=""
    class="motion-reduce"
    loading="lazy"
    width="${item.media[1].width}"
    height="{$item.media[1].height }"
  >`
    : ''
}

${
  numOfMediaBiggerThen1 && '{{section.settings.image_behavior}}' == 'carousal'
    ? `<div class="carousal-arrows">
    <div class="left-arrow">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="#000000"
        height="16px"
        width="16px"
        viewBox="0 0 330 330"
      >
        <path d="M79.394,154.389l150-149.996c5.857-5.858,15.355-5.858,21.213,0.001c5.857,5.858,5.857,15.355-0.001,21.213
          L111.213,165.997l139.393,139.391c5.857,5.858,5.857,15.355-0.001,21.213C248.678,328.536,244.839,330,241,330
          s-7.678-1.464-10.607-4.394L80.394,175.602c-2.814-2.813-4.394-6.628-4.394-10.606
          C75,161.018,76.58,157.202,79.394,154.389z"/>
      </svg>
    </div>
    <div class="right-arrow">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        fill="#000000"
        height="16px"
        width="16px"
        version="1.1"
        id="Layer_1"
        viewBox="0 0 330 330"
        xml:space="preserve"
      >
        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001  c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213  C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606  C255,161.018,253.42,157.202,250.606,154.389z"/>
      </svg>
    </div>
  </div>`
    : ''
}
</a>
<div class="card-product__group group-right">


</div>
</div>
</div>
</div>
<div class="card-information">
<div class="card-information__wrapper text-center">
<a class="card-title link-underline card-title-ellipsis" href="${item.url}">
<span class="text">
<span>
${item.title}
</span>
</span>
</a>
<div class="card-price">
<div class="price price--on-sale">
<dl>
<div class="price__sale">
<dd class="price__last">
<span class="price-item price-item--sale" data-productprice="${item.productPricedata}">

${item.price}
</span>
</dd>
<dd class="price__compare">
<span class="price-item price-item--regular" data-productcompareprice="${item.productComparePricedata}">
${item.compare_at_price}
</span>
</dd>
</div>
</dl>
</div>
<div class="price">
<div class="price__container">
<div class="halo-productBadges card__badge next_price badge-left halo-productBadges--left">
<span class="badge sale-badge cstm_discount_pp"></span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</li>`);
      });
    } else {
      $('.recently-viewed-wrapper').hide();
    }
    const newProductData = `${recentlyViewedHtml.join('')}`;
    const fullContent = document.getElementsByClassName('recently-viewed-grid');
    fullContent[0].innerHTML = newProductData;
  }

  document.addEventListener('DOMContentLoaded', function (event) {
    getRecentlyViewedProducts();
  });

  jQuery(document).ready(function () {
    setTimeout(function () {
      jQuery('.recently-viewed-wrapper .recently-viewed-grid li.grid__item').each(function ($) {
        var compare_price_cm = jQuery(this).find('.card-price .price__compare .price-item').data('productcompareprice');
        var regular_price_cm = jQuery(this).find('.card-price .price__last .price-item').data('productprice');
        console.log(compare_price_cm);
        console.log(regular_price_cm);
        var decreaseValue = compare_price_cm - regular_price_cm;
        var result = Math.round((decreaseValue / compare_price_cm) * 100);
        // console.log(result+"%");
        if (compare_price_cm > regular_price_cm) {
          jQuery(this)
            .find('span.cstm_discount_pp')
            .text('' + result + '%OFF');
        }
      });
    }, 500);

    $('.autoplay').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      arrows: true,
      autoplay: true,
      prevArrow:
        "<button type='button' class='slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button>",
      nextArrow:
        "<button type='button' class='slick-next pull-right'><i class='fa fa-angle-right' aria-hidden='true'></i></button>",
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerPadding: '40px',
            slidesToShow: 2,
          },
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerPadding: '40px',
            slidesToShow: 2,
          },
        },
      ],
    });
  });
</script>

{% schema %}
{
  "name": "Custom Recently Products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Recently Viewed",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.image_behavior.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.none.label"
        },
        {
          "value": "show secondary image",
          "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
        },
        {
          "value": "carousal",
          "label": "t:sections.main-collection-product-grid.settings.carousal.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.related-products.settings.show_vendor.label"
    }
  ],
  "presets": [
    {
      "name": "Custom Recently Products"
    }
  ]
}
{% endschema %}
